.boycotts-and-blocklists-thumbnail {
    background-image: url("../img/claires-head.png");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.ice-cream-and-celery-thumbnail {
    background-image: url("../img/ryans-head.png");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.author-info {
    margin-top: 1em;
    margin-bottom: 1em;
}

.author-img-div {
    display: block;
    height: 3em;
    width: 3em;
}

.author-claire {
    background-image: url('../img/claires-head.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.author-ryan {
    background-image: url('../img/ryans-head.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.author-name-span,
.author-title-span {
    text-transform: uppercase;
}

.author-name-span {
    letter-spacing: 0.25em;
}

.author-title-span {
    font-family: 'Open Sans';
    letter-spacing: 0.1em;
}

.blog-body-div {
    margin-bottom: 5em;
}

.blog-datestamp {
    font-family: 'tajawal';
}

.blog-summary-div {
    margin-bottom: 2em;
}

.blog-summary-bold {
    font-weight: 600;
}

.blog-body-text {
    font-family: 'tajawal';
}

.blog-hero-img-div {
    display: block;
    height: 25em;
    width: 100%;
}

.boycotts-and-blocklists-hero-img-div {
    background-image: url('../img/boycotts.and.blocklists.hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}